<!DOCTYPE html>
<html>
<head>
    <title>Modificar insumo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Modificar insumo {{ insumo.id }}</h1>
        <br>
        <form action="/inventario/modify_insumo" method="post">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" value="{{ insumo.nombre }}" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" class="form-control" rows="4" required>{{ insumo.descripcion }}</textarea>
            </div>
            <div class="form-group">
                <label for="costo">Costo:</label>
                <input type="number" id="costo" name="costo" class="form-control" min="0" value="{{ insumo.costo }}" step=".01" required>
            </div>
            <div class="form-group">
                <label for="piezas">Piezas:</label>
                <input type="number" id="piezas" name="piezas" class="form-control" min="0" value="{{ insumo.piezas }}" step="1" required>
            </div>
            <input type="hidden" id="id" name="id" value="{{ insumo.id }}">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
        <br>
        {% for message in get_flashed_messages() %}
             <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
