<!DOCTYPE html>
<html>
<head>
    <title>Modificar bebida</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1>Modificar bebida {{ insumo.id }}</h1>
        <br>
        <form action="/inventario/modify_bebida" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ insumo.nombre }}" required><br><br>
            
            <label for="descripcion">Descripcion:</label>
            <textarea id="descripcion" name="descripcion" rows="4" cols="50" required>{{ insumo.descripcion }}</textarea><br><br>

            <label for="costo">Costo:</label>
            <input type="number" id="costo" name="costo" min="0" value="{{ insumo.costo }}" step=".01" required>
            <input type="hidden" id="id" name="id" value="{{ insumo.id }}">
            <input type="submit" value="Registrar">
        </form>
        <br>
        {% for message in get_flashed_messages() %}
         <div class="flash">{{ message }}</div>
        {% endfor %}
</body>
</html>