<form action="/crear" method="POST" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="Nombre(s)">Escribe tu(s) nombre(s)</label>
            <input type="text" name="nombre" placeholder="Nombre(s)" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Apellido Paterno">Escribe tu apellido paterno</label>
            <input type="text" name="apellidoP" placeholder="Apellido Paterno" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Apellido Materno">Escribe tu apellido materno</label>
            <input type="text" name="apellidoM" placeholder="Apellido Materno" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Fecha de Nacimiento">Escribe tu Fecha de Nacimiento en forma AAAAMMDD</label>
            <input type="text" name="fechaNac" placeholder="Fecha de Nacimiento (AAAAMMDD)" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Correo Electronico">Escribe tu Correo Electronico</label>
            <input type="text" name="correo" placeholder="Correo Electronico" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Contraseña">Escribe tu contraseña</label>
            <input type="text" name="contra" placeholder="Contraseña" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Direccion">Escribe tu direccion</label>
            <input type="text" name="direcc" placeholder="Direccion" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Informacion de envio">Escribe tu informacion de envio</label>
            <input type="text" name="infoenv" placeholder="Informacion de envio" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Numero de Tarjeta">Escribe tu numero de tarjeta</label>
            <input type="text" name="tarj" placeholder="Numero de Tarjeta" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Numero Telefonico">Escribe tu numero telefonico</label>
            <input type="text" name="numtel" placeholder="Numero Telefonico" class="form-control rounded-0
            bg-dark border-0 text-white"/>
        </div>
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>