{% extends 'Vendedor/navbar.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Inventario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .flash {
            margin-top: 10px;
            padding: 10px;
            background-color: #f0f0f0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    {% block content %}
    <div class="container">
        <br>
        <h1>Buscar cliente por Id</h1>
        <form action="{{ url_for('clientes.buscar_vendedor') }}"   method="POST"> 
            <input type="text" name="Id" id="Id" placeholder="Id a Buscar"> 
            <button type="submit">
                Buscar
            </button>    
        </form>
    {% endblock %}

    <table>
        <thead>
            <tr>
                <td> Nombre </td>
                <td> Apellido Paterno </td>
                <td> Apellido Materno </td>
                <td> Fecha de Nacimiento </td>
                <td> Correo </td>
                <td> Dirección </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ users.nombre}} </td>
                <td> {{ users.apellidoP }} </td>
                <td> {{ users.apellidoM}} </td>
                <td> {{ users.fechaNacimiento }} </td>
                <td> {{ users.correo }} </td>
                <td> {{ cliente.direccion }} </td>
            </tr>
        </tbody>
    </table>
</body>
</html>