<table>
    <thead>
        <tr>
            <td> Nombre </td>
            <td> Apellido Paterno </td>
            <td> Apellido Materno </td>
            <td> Fecha de Nacimiento </td>
            <td> Correo </td>
            <td> Dirección </td>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td> {{ result.0}} </td>
            <td> {{ result.1}} </td>
            <td> {{ result.2}} </td>
            <td> {{ result.3}} </td>
            <td> {{ result.4}} </td>
            <td> {{ result.5}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<body>
    <p align = 'right'><b> Puede filtrar la búsqueda con alguno de los siguientes datos:</b></p>    
</body>
<form action="/consultar_cliente"   method="POST"> 
    <p align="right">
    <input type="text" name="nombre" placeholder="Nombre del Cliente"> 
    <button type="submit">
        Consultar
    </button>  
    </p>  
</form>

<form action="/consultar_cliente"   method="POST"> 
    <p align="right">
    <input type="text" name="apellidoP" placeholder="Apellido Paterno del Cliente"> 
    <button type="submit">
        Consultar
    </button>    
    </p>
</form>

<form action="/consultar_cliente"   method="POST"> 
    <p align="right">
    <input type="text" name="edad" placeholder="Edad del Cliente"> 
    <button type="submit">
        Consultar
    </button>   
    </p>    
</form>

