<!DOCTYPE html>
<head>
    <title>Inventario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
    <h1>Pedidos</h1>
    <br>
    <table>
        <tr>
            <th>Id</th>
            <th>Id Cliente</th>
            <th>Id Vendedor</th>
            <th>Id Bebida</th>
            <th>Direccion</th>
            <th>Metodo de Pago</th>
            <th>Fecha</th>
            <th>Total</th>
        </tr>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.id_cliente }}</td>
            <td>{{ pedido.id_vendedor }}</td>
            <td>{{ pedido.id_bebida }}</td>
            <td>{{ pedido.id_direccion }}</td>
            <td>{{ pedido.metodoPago }}</td>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.total }}</td>
            <td>
                <form action="/venta/atender" method="post" style="display: inline;">
                    <input type="hidden" id="id" name="id" value="{{ pedido.id }}">
                    <button type="submit" value="Atender">Atender</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/inventario/add_bebida" method="get">
        <button type="submit" value="Agregar bebida">Agregar bebida</button>
    </form>
    <br>
    <br><br>
    {% for message in get_flashed_messages() %}
         <div class="flash">{{ message }}</div>
    {% endfor %}
</body>