{% extends 'partials/barra_administrar_vendedores.html' %}

<!DOCTYPE html>
<html>
<head>
	<title>Productos</title>
	<style>
		table {
			border-collapse: collapse;
			margin: 0 auto;
			text-align: center;
			font-family: Arial, sans-serif;
			font-size: 14px;
			border: 2px solid #ddd;
		}
		th, td {
			padding: 8px;
			border: 1px solid #ddd;
		}
		th {
			background-color: #f2f2f2;
			font-weight: bold;
		}
	</style>
</head>
{% block content %}
<body>
  <div class="container">
		<h1>Lista de Vendedores</h1>
		<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Fecha de Nacimiento</th>
      <th>Correo</th>
    </tr>
  </thead>
  <tbody>
    {% for vendedor in vendedores %}
    <tr>
      <td>{{ vendedor.id }}</td>
      <td>{{ vendedor.nombre}}</td>
      <td>{{ vendedor.apellidoP}}</td>
      <td>{{ vendedor.apellidoM}}</td>
      <td>{{ vendedor.fechaNacimiento}}</td>
      <td>{{ vendedor.correo}}</td>
      <td>
        <button id="boton-actualizar" onclick="actualizar({{vendedor.id}})">Editar</button>
        <button id="boton-eliminar" onclick="eliminar({{vendedor.id}})">Eliminar</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
  <script>
    function eliminar(id) {
      if (confirm("¿Está seguro que quieres eliminar el vendedor con id = " + id + "?")) {
        var url = "{{ url_for('deleteSeller.delete_seller', id=0) }}";
        url = url.replace('0', id);
        window.location.href = url;
      } else {
        console.log("ALERTA: Se evitó la acción de eliminación. - index.html [eliminar()]");
      }
    }
    function actualizar(id) {
      if(confirm("¿Está seguro que quiere actualizar el vendedor con id = "+ id+ "?")){
        var url = "{{ url_for('updateSeller.update_seller', id=0) }}";
        url = url.replace('0', id);
        window.location.href = url;
      }else{
        console.log("ALERTA: Se evitó la acción de actualización. - index.html [actualizar()]")
      }
    }
  </script>

	<!-- Agregar los archivos JS de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
{% endblock %}
</html>

