<!DOCTYPE html>
<html>
<head>
  <title>Vendedor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a href="{{ url_for('inventario.inventario') }}" class="btn btn-primary btn-lg btn-block">Realizar Inventario</a>
      </div>
      <div class="col-sm-6">
        <a href="{{ url_for('venta.venta') }}" class="btn btn-primary btn-lg btn-block">Reportar Venta</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a href="{{ url_for('consultar_cliente.consultarCliente') }}" class="btn btn-primary btn-lg btn-block">Consultar Clientes</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a href="{{ url_for('clientes.buscar_vendedor') }}" class="btn btn-primary btn-lg btn-block">Buscar Cliente</a>
      </div>
      <div class="col-sm-6">
        <a href="{{ url_for('login.login') }}" class="btn btn-danger btn-lg btn-block">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</body>
</html>