{% extends 'Cliente/layout.html' %}

{% block content %}

<div class="row">
    <div class="col-md-7">
      {% include 'partials/mensajes.html' %}

      {%  include 'partials/formulario.html' %}
    </div>

    <div class="col-md-5">
        {% for usuarios in usuarios %}
        <div class="card mb-1 text-white bg-dark">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5>{{usuarios.nombre}} {{usuarios.apellidoP}}</h5>
                    <div>
                        <a href="{{ url_for('clientes.updateclient', id = usuarios.id) }}" class="btn bg-black
                        text-white btn-sm rounded-0">Actualizar</a>
                        <a href="{{ url_for('clientes.deleteclient', id = usuarios.id) }}" class="btn btn-danger
                        btn-sm rounded-0">Eliminar</a>
                    </div>
                </div>
                <p>{{usuarios.fechaNacimiento}}</p>
                <p>{{usuarios.correo}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}